<div class="container is-fullhd">
  <section class="landing">
    <div class="hero columns">
      <div class="coloumn">
        <img
          src="../../assets/images/Layersfin.png"
          class="hero-elements layers"
          alt="desktop"
        />
      </div>
      <div class="coloumn"></div>

      <img
        src="../../assets/images/Desktop.png"
        class="hero-elements desktop"
        alt="desktop"
      />
      <img
        src="../../assets/images/Tabletfinn.png"
        class="hero-elements tablet"
        alt="desktop"
      />
      <img
        src="../../assets/images/laptopfin.png"
        class="hero-elements laptop"
        alt="desktop"
      />
      <img
        src="../../assets/images/phone.png"
        class="hero-elements phone"
        alt="desktop"
      />
      <img
        src="../../assets/images/watch.png"
        class="hero-elements watch"
        alt="desktop"
      />
      <img
        src="../../assets/images/colors.png"
        class="hero-elements colors"
        alt="desktop"
      />

      <img
        src="../../assets/images/Pencilfin.png"
        class="hero-elements pencil"
        alt="desktop"
      />
      <img
        src="../../assets/images/Rulerfin.png"
        class="hero-elements ruler"
        alt="desktop"
      />
      <img
        src="../../assets/images/Typefin.png"
        class="hero-elements type"
        alt="desktop"
      />
      <img
        src="../../assets/images/audio.png"
        class="hero-elements audio"
        alt="desktop"
      />
      <img
        src="../../assets/images/Cursorfin.png"
        class="hero-elements cursor"
        alt="desktop"
      />
      <img
        src="../../assets/images/Popup.png"
        class="hero-elements popup"
        alt="desktop"
      />
    </div>
    <p class="is-size-2" id="header">
      we create
      <span
        >responsive <br />
        websites</span
      >
    </p>
  </section>
</div>
