<app-page-header [heading]="heading"></app-page-header>
<div class="container-fluid px-5 mt-5">
  <div class="row">
    <div class="col-md-4">
      <div
        class="logo-wrapper d-flex py-3 align-items-center animate-float-bob-y"
      >
        <img src="../../assets/images/favicon.svg" class="about-logo" alt="" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="about-us-content">
        <div class="section-title">
          <div class="section-heading-tag">
            <span class="single-heading-tag">About Company</span>
          </div>
          <h2>Who we are ?</h2>
          <div class="section-title-description">
            <p>
              Scribblepanda Pvt. Ltd is a Web Platform Development company,
              specializing across various arenas of the IT and digital marketing
              industry. Based in India. We cater to the requirements of our
              clients in 70+ countries, across all 6 continents.From its very
              inception Intersmart Solutions has been a growth-focused Web
              Development company with a vision to deliver real value to its
              customers everywhere. Our cross-functional, closely-knit team will
              continue to be united by our joined vision to help clients win big
              in their industry, be it by building high-converting websites or
              running successful advertising campaigns.
            </p>
          </div>
        </div>
        <div class="simple-icon-box-wrapper mt-45 mb-38">
          <div class="simple-single-icon-box">
            <i class="fal fa-users"></i>
            <h4>Our Mission</h4>
            <p>
              Our mission is to build unique and superior software product
              experiences that can fuel smarter business decisions for our
              clients at affordable costs.We have always placed maximum emphasis
              on engineering new technologies in the digital landscape. Equipped
              with some of the most experienced and certified industry
              professionals, our mission is to break new grounds and surpass our
              excellence day in, day out. While carrying out our mission, we
              will always place our clients at the heart of it
            </p>
          </div>

          <div class="section-button-wrapper">
            <a href="about.html" class="filled-btn btn-bordered bg-royal-blue">
              Learn More <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-4 mb-4">
      <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
        <div class="card-body">
          <i
            class="
              ri-lock-password-line
              icon-lg icon-purple icon-bg-purple icon-bg-circle
              mb-3
            "
          ></i>
          <h4 class="mt-4 mb-3">Secure <br />Service</h4>
          <p>
            Whatever may be your requirement we have a solution for you. All the
            processes are conducted through certified secure systems.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4">
      <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
        <div class="card-body">
          <i
            class="
              ri-shield-user-line
              icon-lg icon-cyan icon-bg-cyan icon-bg-circle
              mb-3
            "
          ></i>
          <h4 class="mt-4 mb-3">Complete<br />Confidentality</h4>
          <p>
            We value the confidentiality of our customers over anything. The
            data that shares with us will be safe with us.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4">
      <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
        <div class="card-body">
          <i
            class="
              ri-compasses-2-line
              icon-lg icon-red icon-bg-red icon-bg-circle
              mb-3
            "
          ></i>
          <h4 class="mt-4 mb-3">Advanced<br />Technologies</h4>
          <p>
            Scribblepanda is known for using cutting edge technology, Our team
            is consists of well experienced system engineers to provide modern
            web infrastructure for your needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4">
      <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
        <div class="card-body">
          <i
            class="
              ri-mac-line
              icon-lg icon-primary icon-bg-primary icon-bg-circle
              mb-3
            "
          ></i>
          <h4 class="mt-4 mb-3">Customer <br />Service</h4>
          <p>
            We have dedicated customer service team for all the support and your
            queries. We always value our customers satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
