<div>
  <div *ngIf="auth.user | async as user; else showLogin">
    <app-page-header
      [heading]="user.displayName"
      [quote]="quote"
    ></app-page-header>
    <div
      *ngIf="success"
      class="alert alert-danger alert-dismissible fade show text-center"
      role="alert"
    >
      <strong>Hey! {{ user.displayName }}</strong> Your Blog has published !!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img [src]="user.PhotoUrl" alt="" />
    <button class="btn btn-info" (click)="logout()">Logout</button>
    <button class="btn btn-info" (click)="authorDetails()">Authort</button>
    <div class="container">
      <form #blogPost class="form-row" (ngSubmit)="postBlog(blogPost.value)">
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
          <input
            type="text"
            name="title"
            placeholder="Title"
            [(ngModel)]="post.title"
            class="form-control display-7"
            id="title"
            required
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
          <input
            type="text"
            name="date"
            [(ngModel)]="post.date"
            placeholder="Name"
            data-form-field="name"
            class="form-control display-7"
            id="date"
            required
          />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
          <input
            type="text"
            name="author"
            placeholder="Author Name"
            [(ngModel)]="post.author"
            (ngModelChange)="authorDetails($event)"
            class="form-control display-7"
            id="author"
            required
          />
        </div>
        <div *ngIf="uploadPercent" class="col-12">
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: (uploadPercent | async) + '%' }"
            ></div>
          </div>
        </div>
        <a target="_blank" [href]="downloadURL | async">{{
          downloadURL | async
        }}</a>
        <div class="col-lg-3 col-md-3 col-sm-12 form-group">
          <label class="file">
            <input
              type="file"
              id="file"
              #userPhoto
              (change)="uploadFile($event)"
              name="image"
              autocomplete="off"
              aria-label="File browser example"
            />
            <span class="file-custom"></span>
          </label>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 form-group">
          <input
            type="text"
            placeholder="cover image Url"
            [(ngModel)]="post.cover"
            class="form-control display-7"
            id="cover"
            name="cover"
          />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
          <input
            type="text"
            placeholder="Summary"
            [(ngModel)]="post.summary"
            maxlength="150"
            class="form-control display-7"
            id="summary"
            name="summary"
          />
        </div>
        <div
          class="col-lg-12 col-md-12 col-sm-12 form-group"
          data-for="textarea"
        >
          <textarea
            rows="4"
            name="textarea"
            [(ngModel)]="post.content"
            placeholder="Post Content in HTML format"
            class="form-control display-7"
            id="content"
            name="content"
          ></textarea>

          <span class="remaning">{{ post.content.length }}</span>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary display-7">Post</button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #showLogin>
    <div class="main d-flex justify-content-center align-items-center vh-100">
      <div class="row">
        <div class="col-md-12">
          <button
            class="btn btn-outline-dark"
            role="button"
            (click)="login()"
            style="text-transform: none"
          >
            <img
              width="20px"
              style="margin-bottom: 3px; margin-right: 5px"
              alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            />
            Login with Google
          </button>
        </div>
      </div>
    </div></ng-template
  >
</div>
