<app-page-header [heading]=heading [quote] = quote></app-page-header>
<section class="features1 cid-rGtBqmc2gI" id="features6-33">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-pen-nib-line
                  icon-lg icon-purple icon-bg-purple icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">Website <br>Designing</h4>
              <p>
                Websites mark the standard of an organization, and hence it is an imminent part of any business. Abiding by the brand objectives, 
                we focus on building a website with optimal design and character. We extend our service in developing websites with the best course of action adhering to timelines.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-mac-line
                  icon-lg icon-primary icon-bg-primary icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">Website <br>Development</h4>
              <p>
                In the era of smartphones, where things are a touch away, no line of work can dodge mobile apps. Creating adaptable and intuitive mobile applications with optimal action sequences can be achieved through us. Our team of dedicated virtuosos 
                will sway you to fly your way to a secure and supremely usable mobile app.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-smartphone-line
                  icon-lg icon-yellow icon-bg-yellow icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">Mobile App<br>Development </h4>
              <p>
                One of the salient features of mobile apps for business is that, it offers awareness and recognition of 
                your brand to the customers for an enhanced communication. It is this regular interaction with your target market, which sows the seeds to grow trust and belief between you and your customers.
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-layout-masonry-line
                  icon-lg icon-cyan icon-bg-cyan icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">Cloud App<br>Development</h4>
              <p>
                A cloud application, or cloud app, is a software program where cloud-based and local components work together. This model relies on remote servers for processing logic that is accessed through a web browser with a continual internet connection.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-stackshare-line
                  icon-lg icon-red icon-bg-red icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">Digital <br>Marketing</h4>
              <p>
                Most companies are trying to achieve growth by reaching more consumers and convincing them to purchase. To do this effectively, you have to take advantage of all the most valuable marketing resources and technologies, 
                and in the modern world, the internet tops that list. This makes every business in need of digital marketing.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="card border-0 shadow rounded-xs pt-5 card-min-height">
            <div class="card-body">
              <i
                class="
                  ri-slideshow-line
                  icon-lg icon-blue icon-bg-blue icon-bg-circle
                  mb-3
                "
              ></i>
              <h4 class="mt-4 mb-3">User Experience<br> Prototyping</h4>
              <p>
                User experience enhances customer's journey on your product that are most conducive to business success. We aim to give a positive user experience design considering user personas and product solutions, 
                thereby pledging to deliver products with 100% customer satisfaction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
