<app-page-header [heading]="heading" [quote]="quote"></app-page-header>

<section class="pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of item$ | async">
        <div class="post">
          <div class="post-img">
            <img class="img-responsive img-fluid" [src]="item.cover" alt="" />
          </div>
          <div class="post-info">
            <h3>
              <a [routerLink]="'/blog-details/' + item.eventId">
                {{ item.title }}</a
              >
            </h3>
            <h6>{{ item.date }}</h6>
            <p>
              {{ item.summary }}
            </p>
            <a class="readmore dark-color" href="#"><span>Read More</span></a>
          </div>
        </div>
      </div>
      <!--=== Post End ===-->

      <!--=== Post End ===-->
    </div>
  </div>
</section>
