/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #49a432;
  outline: 1px solid slategrey;
}

.form-check input {
  position: absolute;
  left: -9999px;
}
.form-check input:checked + label {
  background-color: #d7e5d6;
  color: #1d2746;
}
.form-check input:checked + label:before {
  box-shadow: inset 0 0 0 0.4375em #49a432;
}
.form-check label {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #6b707f;
  font-weight: 600;
}

.form-check label:hover {
  background-color: #d6d6e5;
}
.form-check label:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #6b707f;
}

.shadow,
.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important;
}

.icon-primary {
  color: #062caf;
}

.icon-bg-circle {
  position: relative;
}

.icon-lg {
  font-size: 50px;
}

.icon-bg-circle::before {
  z-index: 1;
  position: relative;
}

.icon-bg-primary::after {
  background: #062caf !important;
}

.icon-bg-circle::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  top: -35px;
  left: 15px;
  border-radius: 50%;
  background: inherit;
  opacity: 0.1;
  transform: scale(1);
  transition: transform 700ms ease;
}
.card-min-height:hover .icon-bg-circle::after {
  transform: scale(5);
}

p,
.paragraph {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}

.icon-bg-yellow::after {
  background: #f6a622 !important;
}

.icon-bg-purple::after {
  background: #7952f5;
}

.icon-yellow {
  color: #f6a622;
}

.icon-purple {
  color: #7952f5;
}

.icon-cyan {
  color: #02d0a1;
}

.icon-bg-cyan::after {
  background: #02d0a1;
}

.icon-bg-red::after {
  background: #ff4949;
}

.icon-red {
  color: #ff4949;
}

.icon-bg-green::after {
  background: #66cc33;
}

.icon-green {
  color: #66cc33;
}

.icon-bg-orange::after {
  background: #ff7c17;
}

.icon-orange {
  color: #ff7c17;
}

.icon-bg-blue::after {
  background: #3682ff;
}

.icon-blue {
  color: #3682ff;
}

.text-white {
  color: #ffffff;
}

.cid-rGsOE1E5qe .container-fluid {
  padding-top: 95px;
}

.card-min-height {
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}
.animate-float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}
