<section
  class="breadcrumb_area_three"
  id="paralx"
  [style.background-image]="'url(' + blogg.cover + ')'"
>
  <div class="container">
    <div class="breadcrumb_content">
      <h1>{{ blogg.title }}</h1>
      <div class="single_post_author">
        <img class="author_img" src="../../assets/images/panda-user.jpg" alt="user" />
        <div class="text">
            <h4>{{ blogg.author }}</h4>
          <div class="post_tag">
           {{ blogg.date }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="post-content">
  <div class="container py-5">
    <div>
      <div [innerHtml]="blogg.content"></div>
    </div>
  </div>
</section>
