<section
  class="breadcrumb_area_three"
  id="paralx"
  [style.background-image]="'url(' + blogg.cover + ')'"
>
  <div class="container">
    <div class="breadcrumb_content">
      <h1>{{ blogg.title }}</h1>
      <div class="single_post_author">
        <img class="author_img" [src]="blogg.authorPhoto" alt="" />
        <div class="text">
          <a href="#">
            <h4>{{ blogg.author }}</h4>
          </a>
          <div class="post_tag">
            <a href="#">{{ blogg.date }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="post-content">
  <div class="container py-5">
    <div>
      <div [innerHtml]="blogg.content"></div>
    </div>
  </div>
</section>
